body {
    margin: 0;
}

/* HERO BACKGROUND ONLY */
.hero {
    position: relative;
    padding: 70px;
    color: white;
}

/* IMAGE ONLY INSIDE HERO */
.hero::before {
    content: "";
    position: absolute;
    inset: 0;

    background: url("printer.jpg") center/cover no-repeat;

    z-index: -2;
}

/* DARK OVERLAY ONLY ON IMAGE */
.hero::after {
    content: "";
    position: absolute;
    inset: 0;

    background: rgba(0, 0, 0, 0.4); /* adjust darkness here */

    z-index: -1;
}

.services-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* keep text aligned left inside its block */
.services-header h2,
.services-header p {
    margin: 0;
}

/* View All button */
.view-all {
    padding: 8px 20px;
    background: crimson;
    color: white;
    border-radius: 30px;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.view-all:hover {
    background: darkred;
    transform: scale(1.05);
}